@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --cinza: #273142;
    --marrom:#745e50;
    --bege: #D3B9A3;
    --rosa: #ff948b;
    --verdeclaro: #E3E8CD;
    --botao-inativo: #fcd487
    --botao-ativo: rgba(17, 209, 243, 0.795);
}

body{
    background-color: var(--salmão);
    color: var(--verde);
    font-family: 'Chakra Petch', 'Sans-Serif';
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 28px;
}

.titulo-principal span{
    color:var(--rosa)
}

.botao{
    font-family: 'Chakra Petch', 'Sans-Serif';
    background-color: var(--botao-inativo);
    color: var(--rosa);
    display:flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;

}